.news-box {
    display: flex;
    gap: 2rem;

    a {
        width: 30%;
        margin: auto 0;
        line-height: 0;
    
        img {
            width: 100%;
            height: auto;
        }
    }

    .news-content {
        padding: 1rem 0;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        a {
            width: 100%;
            text-decoration: none;
            color: var(--black);
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.65rem;
            margin: 0;
        }

        h2 {
            font-size: 1rem;
            color: var(--grey-3);
        }

        p {
            font-size: 1.15rem;
            color: var(--grey-4);
        }

        .news-meta {
            margin-top: auto;

            span {
                font-size: 0.8rem;
            }

            ul {
                margin-left: 1.5rem;
                display: flex;
                gap: 2rem;

                li {
                    font-size: 0.8rem;

                    span {
                        cursor: pointer;
                        text-decoration: underline;
                        color: var(--red);
                    }

                    .date {
                        cursor: default;
                        text-decoration: none;
                        color: var(--grey-4);
                    }

                    a {
                        width: 100%;
                        text-decoration: none;
                        color: var(--black);
                        font-weight: 700;
                        font-size: 0.8rem;
                        font-weight: 500;
                        line-height: 0.95rem;
                        margin: 0;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                            color: var(--red);
                        }
                    }
                }
            }
        }
    }
}
