.topic-based-news-container {
    width: 90%;
    margin: 0 auto;

    .topic-news-container {
        margin-top: 10.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            font-size: 2.25rem;
        }
    }
}
